* {
    padding: 0;
    margin: 0;
}

.card-container {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container .card {
    height: 500px;
    width: 350px;
    background-color: #fff;
    border: 1px solid #686868;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.card-container .card .details {
    text-align: center;
    padding: 2rem;
}

.card-container .card .details h1 {
    font-size: 50px;
    font-family: monospace;
}

.card-container .card .details img {
    width: 90%;
    border-radius: 100%;
    transition: 0.5s ease;
}

.animation {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 0 10px #000;
    
}